*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth
}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: rgba(255, 225, 91, 0.896);
}
.logo {
    text-decoration: none;
    font-family: 'poppins';
    text-decoration: underline;
    color: black;
    font-weight: bold ;
    font-size:25px ;
    
}
.navbar a{
    text-decoration:none;
    color: black;
    font-weight: normal;
    font-size: 22px;
    padding: 25px;
}
.navbar a:hover{
    text-decoration: underline;
}
.main{
    font-family: 'poppins';
    height: 700px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('background2.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
.main h1{
    color: rgb(255, 225, 91);
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
   margin: auto;
   
}
.main p{
    color: rgb(255, 225, 91);
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
   margin: auto;
 
}
.main2{
    margin: 45px 0px;
    padding: 10px;
}
.main2 h1{
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.largegallerybox{
    display: flex;
    justify-content: space-between;
    margin-top:55px;
    margin-left: 100px;
    margin-right: 100px ;

}
.largegallery{
    text-align: center;
}
.largegallery img{
    height: 375px;
    width: 275px;
}
.main3{
    margin: 0px 40px;
}
.smallgallery img{
    height: 250px;
}
.smallgallerybox{
    display: flex;
    justify-content: space-between;
}
.smallgallery .desc{
    text-align: center;
}
.btnclass a{
   display: flex;
   justify-content: center;
   text-decoration: none;

}
.btn{
    margin: 50px 0px 0px 0px;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(255, 225, 91) ;
    color: black;
}
.btn:hover{
    background-color: black;
    color:rgb(255, 225, 91) ;
    transition: .2s;
}
.about{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin:180px 250px;
 }
 .about .info{
    margin-top: 50px;
 }
 .info .title{
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
 }
 .info .bio{
    padding: 25px;
 }
 .info ul{
    padding: 25px;
    list-style-position: inside;
 }

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: black;
    color: rgba(255, 225, 91, 0.896);
}
.left h1{
    text-decoration: underline;
}
.right i{
    padding: 10px;
}
.fa-envelope, .fa-instagram{
    color:rgba(255, 225, 91, 0.896) ;
}

@media screen and (max-width:378px){
    .header h1{
        font-size: 15px;
    }
}
@media screen and (max-width:545px){
    .header{
        padding: 20px 10px;
    }
    .navbar a{
        padding: 5px;
        font-size: 15px;
    }
}
@media screen and (max-width:688px){
    .navbar a{
        font-size: 20px;
        padding: 10px;
    }
    .header h1{
        font-size: 25px;}
}
@media screen and (max-width:498px){
    .header{
        padding: 20px 3px;
    }
    .navbar a{
        font-size:13px ;
        padding: 2px;
    }
    .header h1{
        font-size: 17px;}
}

@media screen and (max-width:1100px){
    .smallgallerybox, .largegallerybox{
        margin: 0px 0px;
    }
    .smallgallery img{
        height: 175px;
        margin: 0px 0px;
    }
    .largegallery img{
        margin: 0px 0px;
        height: 325px;
        width: 225px;
    }
}
@media screen and (max-width:889px){
    .smallgallerybox, .largegallerybox{
        margin: 0px 0px;
    }
    .smallgallery img{
        height: 125px;
}
    .largegallery img{
        height: 275px;
        width: 175px;
    }
}
@media screen and (max-width:594px){
    .largegallerybox, .smallgallerybox{
        display: block;
        text-align: center;
    }
    .largegallery img{
        height: 300px;
        width: 225px;
    }
    .smallgallery img{
        height: 200px;
        width: 180px;
    }
  }

  @media screen and (max-width:1213px){
    .about{
        margin:200px 50px;
    }

  }
  @media screen and (max-width:817px){
    .abtimg{
        height: 300px;
    }
    .info{
        font-size: 15px;
    }
  }
  @media screen and (max-width:594px){
    .about{
        display: block;
        text-align: center;
    }
    .about .info{
        margin-top: 10px;
  }
  }
  @media screen and (max-width:1041px){
    .footer{
        font-size :15px ;
    }

  }
  @media screen and (max-width:970px){
    .footer{
        display: block;
        height: auto;
        padding:25px;
    }
    .fa-envelope, .fa-instagram{
        margin-top: 10px;
    }
    .left h1{
        margin-top: 10px;
    }
    .right i{
        margin-top: 10px;
    }

  }

